.wrapper {
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 3.75rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
}

.slide {
  margin: auto;
  width: min-content;
  height: 100%;
  max-height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.caption {
  font-size: 1.125rem;
  height: 6rem;
  position: relative;
  margin-top: -6rem;
  z-index: -1;
  background-color: rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper .slide:hover .caption, .wrapper .slide:focus .caption{
  z-index: 2;
}

.close {
  color: white;
  position: absolute;
  top: 0;
  /* moves to the right side of the screen, with 0px offset from the edge */
  right: 0px;
  font-size: 2.5rem;
  width: 4rem;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
}

.navigation {
  height: 8rem;
  color: white;
  background-color: black;
  cursor: pointer;
  position: absolute;
  font-size: 3.75rem;
  /* line-height: 60px; */
  width: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.close:hover, .close:focus, .navigation:hover, .navigation:focus{
  filter: invert(1);
}

@media (hover: none) {
  .navigation:hover {
    opacity: 0.2;
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (max-width: 1081px) {
  .wrapper {
    padding: 0;
  }
  .slide {
    /* to account for L/R nav buttons */
    width: calc(100% - 8rem);
  }
  .image {
    width: 100%;
  }
  .navigation, .close {
    width: 3rem;
  }
  .caption {
    margin-top: 0.5rem;
    height: auto;
  }
  .prev, .next {
    /* height: 60%; */
    /* height: 128px; */
    padding: 0;
  }
}